{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to the Police Accident Prediction System</h1>
    <div class="grid-container">
        <div class="info-container">
            <h3>Information</h3>
            <p>Velkommen til Politiets ulykkeberegner! Vores hjemmeside anvender data fra Danmarks Statistik til at analysere og forudsige, hvilken type uheld du kan være i forhøjet risiko for, baseret på din lokation, køretøj, alder og køn. Vi kan ikke garantere, hvad der vil ske i tilfælde af et uheld, men vores mål er at illustrere potentielle forhøjede risici for bestemte typer uheld.</p>
            <p>Vores avancerede algoritmer bearbejder data for at give dig en bedre forståelse af, hvilke faktorer der kan påvirke typen af uheld, du kunne være mest udsat for. Dette kan måske være vejledende i forhold til at vælge køretøjsform eller tage andre forholdsregler.</p>
            <p>Bemærk venligst, at resultaterne på denne hjemmeside er illustrative og ikke bør ses som en garanti eller en præcis forudsigelse af fremtidige hændelser. Vi håber, at informationerne kan være nyttige og give dig indsigt i de forskellige risici, der kan være forbundet med forskellige situationer og køretøjer.</p>
        </div>
        <div class="results-container">
            <h3>Resultater</h3>
            <div id="results"></div>
            <button id="more-info-btn" class="btn btn-primary mt-3">More Info</button>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const prediction = sessionStorage.getItem('prediction');
    const gender = sessionStorage.getItem('gender');
    const age = sessionStorage.getItem('age');
    const region = sessionStorage.getItem('region');
    const vehicle = sessionStorage.getItem('vehicle');

    if (prediction && gender && age && region && vehicle) {
        const resultsContainer = document.getElementById('results');
        resultsContainer.innerHTML = `
            <ul>
                <li>Køn: ${gender}</li>
                <li>Alder: ${age}</li>
                <li>Region: ${region}</li>
                <li>Køretøjstype: ${vehicle}</li>
                <li>Forudset skade: ${prediction}</li>
            </ul>
        `;
        document.getElementById('more-info-btn').style.display = 'block';
    } else {
        const resultsContainer = document.getElementById('results');
        resultsContainer.innerHTML = '<p>Ingen resultater endnu. Udfør en forudsigelse først.</p>';
        document.getElementById('more-info-btn').style.display = 'none';
    }

    document.getElementById('more-info-btn').addEventListener('click', function() {
        window.location.href = '/more_info';
    });
});
</script>
{% endblock %}
