{% extends "base.html" %}

{% block content %}

<div class="grid-container">
    <div class="info-container">
        <!-- Info box content -->
        <h3>Information</h3>
        <p>Information about how you use this webpage</p>
    </div>

    <div class="results-container">
        <!-- Results box content -->
        <h3>Results</h3>
        <p>Here are the results:</p>
        <ul>
            <li>Result 1</li>
            <li>Result 2</li>
            <li>Result 3</li>
        </ul>
        
        <!-- Button to navigate to page 2 -->
        <a href="/page2" class="btn btn-to-page2">Go to Page 2</a>
    </div>
</div>
{% endblock %}
