{% extends "base.html" %}

{% block content %}
<div class="parent">
    <div class="div1">
      <h2>Welcome to Penguin Indentify'er</h2>
      <p>This app is made to help you Indentify different types for penguins</p>
      <button>Learn More</button>

      <h3>Test our model!</h3>
      <form method="post" action="/test_model_penguin/" >
        <button name="test_model_button" type="submit">Test the model</button>
        <p>{{ accuracy_result }}</p>
      </form>

      <h3>The Different Penguins</h3>
      <ul>
        <li>Adelie Penguins</li>
        <li>Gentoo Penguins</li>
        <li>Chinstrap Peguins</li>
      </ul>
    </div>

    <div class="div2">
      <form method="POST" action="/identify_penguin/" >
        <input type="Culmen Length (mm)" name="CulmenLength" />
        <input type="Culmen Depth (mm)" name="CulmenDepth" />
        <input type="Flipper Length (mm)" name="FlipperLength" />
        <input type="Body Mass (g)" name="BodyMass" />
        <input type="submit" style="position: absolute; left: -9999px; 
        width: 1px; height: 1px;"/>
     </form>
    </div>

    <div class="div3">
    </div>

    <div class="div4">
    </div>
    
    <div class="div5">
    </div>

</div>
{% endblock %}