{% extends "base.html" %}

{% block content %}
<script src="https://kit.fontawesome.com/64d5226875.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<div class="container">
  <h1>Police Accidents Dataset</h1>
  <form action="/id/" method="POST"> <!-- Update the action attribute here -->
    <div class="form-group">
      <label for="year">Gender:</label>
      <select class="form-control" name="gender" id="Gender">
        <option value="Mænd">Mænd</option>
        <option value="Kvinder">Kvinder</option>
        <option value="Uoplyst køn">Uoplyst køn</option>
        <!-- Add more options based on your dataset -->
      </select>
    </div>

    <div class="form-group">
      <label for="city">City:</label>
      <select class="form-control" name="city" id="city">
        <option value="Bornoholm">Bornholm</option>
        <option value="Fyn">Fyn</option>
        <option value="Midt- og vestsjælland">Midt- og vestsjælland</option>
        <option value="Nordjylland">Nordjylland</option>
        <option value="Nordsjælland">Nordsjælland</option>
        <option value="Sydsjælland">Sydsjælland</option>
        <option value="Østjylland">Østjylland</option>
        <!-- Add more options based on your dataset -->
      </select>
    </div>
    
    <div class="form-group">
      <label for="year">Year:</label>
      <select class="form-control" name="year" id="year">
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <!-- Add more options based on your dataset -->
      </select>
    </div>

    <!-- Add more dropdown boxes for other attributes -->

    <button type="submit" class="btn btn-primary">Next</button>
  </form>

</div>

The gender categories are: Mænd, Kvinder, Uoplyst køn

Age: 0-17 År,  18-24 År, 25-44 År, 45-64 År, 65 År og derover, Uoplyst alder

Area: Region Hovedstaden, Region Sjælland, Region Syddanmark, Region Midtjylland, Region Nordjylland

Type of Vehicle: Almindelig personbil, Taxi, Køretøj 0-3.500 kg under udrykning, Varebil 0-3.500 kg., Lastbil over 3.500 kg., Bus, Motorcykel, Knallert 45, Knallert, Cykel, Fodgænger, Andre

{% endblock %}