{% extends "base.html" %}

{% block content %}
<script src="https://kit.fontawesome.com/64d5226875.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<div class="container">
  <h1>Police Accidents Dataset</h1>

  <p>Clicked Region: <span id="clickedRegion"></span></p>

  <form action="/id/" method="POST"> <!-- Update the action attribute here -->
    <div class="form-group">
      <label for="year">Gender:</label>
      <select class="form-control" name="gender" id="Gender">
        <option value="Mænd">Mænd</option>
        <option value="Kvinder">Kvinder</option>
        <option value="Uoplyst køn">Uoplyst køn</option>
        <!-- Add more options based on your dataset -->
      </select>
    </div>

    <div class="form-group">
      <label for="city">Age</label>
      <select class="form-control" name="Age" id="Age">
        <option value="0-17">0-17</option>
        <option value="18-24">18-24</option>
        <option value="25-44">45-64</option>
        <option value="65">65</option>
        <option value="Uoplyst">Uoplyst</option>
      </select>
    </div>

    <div class="form-group">
      <label for="Område">Område</label>
      <select class="form-control" name="Område" id="Område">
        <option value="Region Hovedstaden">Region Hovedstaden</option>
        <option value="Region Sjælland">Region Sjælland</option>
        <option value="Region Syddanmark">Region Syddanmark</option>
        <option value="Region Midtjylland">Region Midtjylland</option>
        <option value="Region Nordjylland">Region Nordjylland</option>
    </select>
    </div>

    <div class="form-group">
      <label for="Type of Vehicle">Type of Vehicle</label>
      <select class="form-control" name="Vehicle" id="Vehicle">
        <option value="Almindelig personbil">Almindelig personbil</option>
        <option value="Taxi">Taxi</option>
        <option value="Køretøj 0-3.500 kg under udrykning">Køretøj 0-3.500 kg under udrykning</option>
        <option value="Varebil 0-3.500 kg">Varebil 0-3.500 kg</option>
        <option value="Lastbil over 3.500 kg">Lastbil over 3.500 kg</option>
        <option value="Bus">Bus</option>
        <option value="Motorcykel">Motorcykel</option>
        <option value="Knallert 45">Knallert 45</option>
        <option value="Knallert">Knallert</option>
        <option value="Cykel">Cykel</option>
        <option value="Fodgænger">Fodgænger</option>
        <option value="Andre">Andre</option>
      </select>
    </div>

    <!-- Add more dropdown boxes for other attributes -->

    <!-- Button to navigate to page 2 -->
    <a href="/home.html" class="btn btn-to-page2">Go to se results</a>
  </form>

</div>


{% endblock %}