@charset "UTF-8";

/* base */
path:hover {
  fill: purple;
  stroke: red;
  stroke-width: 3px;
  transition: fill 0.4s;
}
* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: 14213D;
}
  
.div5 { grid-area: 4 / 1 / 5 / 4; }