@charset "UTF-8";

/* base */
path:hover {
  fill: purple;
  stroke: red;
  stroke-width: 3px;
  transition: fill 0.4s;
}
* {
  margin: 0;
  padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1000px 1fr; /* 250px width for form box and 1fr for results box */
    gap: 50px; /* Gap between grid items */
    background-color: #ffffff; /* White background */
    margin: 20px;
}

.info-container, .results-container {
    padding: 20px; /* Padding inside the boxes */
}

.info-container {
    background-color: #d9f1f5; /* Light green background */
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}

.results-container {
    background-color: #ebebeb; /* Light grey background */
    border-radius: 25px;
    padding: 20px;
}

.btn-to-page2 {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff; /* Blue background */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-to-page2:hover {
    background-color: #0056b3; /* Darker blue background on hover */
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); /* Background color */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Padding */
    border-radius: 5px; /* Border radius */
    font-size: 12px; /* Font size */
    pointer-events: none; /* Avoid blocking mouse events on the tooltip */
    z-index: 9999; /* Ensure tooltip appears above other elements */
    display: none; /* Initially hide the tooltip */
}
.container {
 width: 100%;
 margin: 0 auto;
}

header {
 background: #001e3c !important;
 min-height:85px !important;
}

.Logo {
    float: left !important; 
    padding: 5px;
}

nav {
    float: right !important;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
 
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a { 
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;

    
}

nav a::before{
    content: ''; 
    display: block;
    height: 7px;
    background-color: #ffffff;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

.Lunk:hover::before { 
    
    width: 100%;
}

.Lunk:hover { color: #585858; }

.footer{
    background-color: #03045e;
    padding: auto;

}